.scribble-canvas video {
	object-fit: fill;
	transform: scaleX(-1);
}
.scribble-canvas {
	position: relative;
	height: 100%;
	width: 100%;
}
.scribble-canvas canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.scribble-canvas video {
	position: absolute;
	top: 0;
	left: 0;
}

.scribble-actions li {
	list-style: none;
	display: inline;
	width: 100px;
}
.scribble-actions button {
	width: 70px;
}
.scribble-canvas button {
	position: absolute;
	bottom: 0px;
	left: 340px;
}
